CustomCommand {
    #
    hello.simple {
        minArgs 3
        maxArgs 3
        mode Read
    }
    #
    hello.push.native {
        minArgs 3
        maxArgs 3
        mode Read
    }
    #
    hello.push.call {
        minArgs 3
        maxArgs 3
        mode Read
    }
    #
    hello.push.call2 {
        minArgs 3
        maxArgs 3
        mode Read
    }
    #
    hello.list.sumlen {
        minArgs 3
        maxArgs 3
        mode Read
    }
    #
    hello.list.splice {
        minArgs 3
        maxArgs 3
        mode Read
    }
    #
    hello.list.splice.auto {
        minArgs 3
        maxArgs 3
        mode Read
    }
    #
    hello.ran.array {
        minArgs 3
        maxArgs 3
        mode Read
    }
    #
    hello.repl1 {
        minArgs 3
        maxArgs 3
        mode Read
    }
    #
    hello.repl2 {
        minArgs 3
        maxArgs 3
        mode Read
    }
    #
    hello.toggle.case {
        minArgs 3
        maxArgs 3
        mode Read
    }
    #
    hello.more.expire {
        minArgs 3
        maxArgs 3
        mode Read
    }
    #
    hello.lexrange {
        minArgs 3
        maxArgs 3
        mode Read
    }
    #
    hello.hcopy {
        minArgs 3
        maxArgs 3
        mode Read
    }
    #
    hello.leftpad {
        minArgs 3
        maxArgs 3
        mode Read
    }
    # hellotype.insert key value
    hello.insert {
        minArgs 3
        maxArgs 3
    }
    # hellotype.range key first count
    hellotype.range {
        minArgs 4
        maxArgs 4
        mode Read
    }
    # hellotype.len key
    hello.len {
        mode Read
    }
}

